body {
    background-color: rgba(72, 163, 0, 0.07);
    font-family: 'Poppins', sans-serif;
}

#title {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: rgb(38, 103, 3);
}

#title span {
    color: rgba(69, 51, 51, 0.914);
}

main {
    padding: 0 16px;
}

.app-container {
    background-color: rgb(212, 240, 207);
    max-width: 660px;
    margin-inline: auto;
    border-radius: 5px;
    padding: 20px 40px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}

.app-container h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#subtitle {
    font-size: 20px;
    margin: 0;
    display: flex;
}

#sun {
    vertical-align: middle;
    height: 35px;
    width: 35px;
}

#progress-bar-label {
    font-size: 14px;
    color: #545353; 
    max-height: 100px;
}

.progress-bar {
    border-radius: 20px;
    height: 30px;
    background-color: rgb(247, 249, 246);
    margin-bottom: 30px;
    padding-right: 40px;
}

.progress-value {
    border-radius: 20px;
    height: 100%;
    width: 0;
    background-color: rgb(79, 127, 60);
    font-size: 14px;
    color: rgb(247, 249, 246);
    display: flex;
    align-items: center;
    visibility: visible;
    transition: all 0.2s ease-in-out;
}

.error-label {
    color: rgb(243, 99, 99);
    font-size: 14px;
    margin: 0;
    display: none;
}

.show-error .error-label {
    display: block;
}

.goal-container {
    border: 1px solid #cfcdcd;
    border-radius: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: rgb(228, 245, 223);
    margin-bottom: 30px;
}

.custom-checkbox {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #8f8e8e;
    margin: 0 10px;
    flex-shrink: 0;
}

.goal-textbox {
    background-color: rgb(228, 245, 223);
    border: none;
    outline: none;
    padding: 0 10px;
    font-family: inherit;
    color: #545353;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.goal-textbox::placeholder {
    font-family: inherit;
    color: #9f9d9d;
    font-size: 14px;
}


#sign-off-note {
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    color: #545353;
    padding: 0;
    margin: 0;
}

#copyright-note {
    text-align: center;
    font-family: inherit;
    font-size: 12px;
    color: #8f8e8e;
    padding: 0;
    margin: 0;
}

#image-container {
    position: relative;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
}

#sun-face {
    position: absolute;
    left: 19px;
    top: 20px;
}

#sun-frame {
    position: absolute;
    animation: rotation 5s infinite linear;
}

.completed .custom-checkbox {
    background-color: rgb(79, 127, 60);
    border-color: rgb(79, 127, 60);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tick-image {
    height: 8px;
    width: 12px;
    display: none;
}

.completed .tick-image {
    display: block;
}

.completed .goal-textbox {
    color: rgb(79, 127, 60);
    font-weight: bold;
    text-decoration: line-through;
}

.add-new-goal-btn {
    border: 1px solid #cfcdcd;
    border-radius: 15px;
    height: 40px;
    background-color: rgb(87, 163, 64);
    margin-bottom: 30px;
    font-family: inherit;
    color: antiquewhite;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-new-goal-btn:hover {
    cursor: pointer;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media (max-width: 768px) {
    #title {
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    #subtitle {
        font-size: 15px;
    }

    .app-container {
        padding: 10px 20px;
        margin: 10px 50px;
    }

    #sun {
        height: 25px;
        width: 25px;
    }

    .goal-container {
        height: 34px;
        margin-bottom: 25px;
    }

    .custom-checkbox {
        height: 15px;
        width: 15px;
    }

    #sign-off-note {
        margin: 10px;
    }

    #copyright-note {
        margin: 10px;
    }

    .tick-image {
        height: 7px;
        width: 11px;
        display: none;
    }

    #image-container {
        height: 30px;
        width: 30px;
    }

    #sun-frame {
        height: 35px;
        width: 35px;
    }

    #sun-face {
        position: absolute;
        left: 13px;
        top: 13px;
        height: 10px;
        width: 10px;
    }
}